/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
/* Start global style */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size:16px;
}

.container{
    max-width: 85%;
    margin:0 auto;
}
/* End global style */

/* Start Hero Area style */
.hero-image{
    background: url('../images/Banner\ Image.png');
    width: 100%;
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:40px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.hero-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(0 0 0 / 77%), rgb(0 0 0 / 20%));
    z-index: 1;
}
.hero-text{
    z-index: 2;
    text-align: center;
}
.hero-text h3{
    font-size:25px;
    color:#fff;

}
.hero-text h1{
    font-size:70px;
    color:#fff;

}
.hero-text h2{
    font-size:70px;
    color:#fff;

}


/* End Hero Area style */

/* Start 60% off discount style */
#discount-offer{
    padding:80px 0;
}
.happy-offer-text{
    font-family: "Inter", sans-serif;
    text-align: center;
}
.happy-offer-text h2 {
    color: #FF0000;
    font-size: 75px;
    font-weight: 700;
}
.happy-offer-text h5 {
    color: #FF0000;
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 8px;
}
.happy-offer-text h3{
    color:#000;
    font-size:45px;
    font-weight: 600;
}
.happy-offer-text img{
    max-width: 650px;
    margin-top:50px;
}
/* End 60% off discount style */

/* Start Midnight party style */
.bg-image-midnight{
    height: 500px;
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.007)), 
        url('../images/Vectorrr.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center; */
}
/* .bg-image-midnight::before{
    position: absolute;
    content:'';
    width: 100%;
    left:0;
    top:0;
    height: 100%;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.986), rgba(0, 0, 0, 0.034));
    z-index: 1;
} */
.midnight-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 50px;
    gap:50px;
    width: 100%;
    height: 100%;
}
.midnight-text{
    flex-basis: 60%;
    flex-direction: column;
    color:#fff;
    padding-left:50px;
}
.midnight-text h2{
    font-size:50px;
}
.midnight-text p{
    font-size:14px;
    margin:10px 0;
    color:#d3d3d3;
}
.midnight-text a{
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color:#fff;
    margin:20px 0;
    font-weight: 600;
}
.midnight-year{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.midnight-year img{
    width: 250px;
    max-width: 100%;
}
/* End Midnight party style */


/* Start Location date join style */
.place-bg{
    background:linear-gradient(to bottom, rgb(255, 230, 230), rgba(255, 255, 255, 0.945));
    padding:50px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: inter;
}
.place-content{
    text-align: center;
}
.place-content h3{
    line-height: 35px;
    color:#000;
}
.place-content span{
    color:#FF0000;
}
.place-content a{
    display:inline-block;
    text-decoration: none;
    font-weight: 600;
    margin-top:30px;
    background:#FF0000;
    color:#fff;
    padding:10px 20px;
    border-radius: 5px;
    font-size:14px;
    transition: 0.3s;
}
.place-content a:hover{
    background-color: #000;
}
/* End Location date join style */

/* Start Coming Soon Style */
#coming-soon{
    padding:80px 0;
}
.coming-bg{
    background-color: #fff;
}
.coming-soon-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.coming-soon-text{
    flex-basis: 30%;
}
.coming-soon-text h6{
    font-size:14px;
    color:#FF0000;
    font-family: inter;
    font-weight: 500;
    text-transform: uppercase;
}
.coming-soon-text h2{
    color:#000;
    margin:15px 0px;
}
.coming-soon-text p{
    color:#777777;
    margin:15px 0px;
    font-size: 14px;
    line-height: 22px;
}s
.coming-soon-image{
    flex-basis: 30%;
}
.coming-soon-image img{
    max-width: 280px;
    border:8px solid #FF0000;
    border-radius: 50%;
    padding:20px;
}
.coming-soon-year{
    flex-basis: 30%;
}
.coming-soon-year h2{
    font-family: inter;
    color:#FF0000;
    
}
.coming-soon-year p{
    color:#777777;
    margin:20px 0;
    font-size:14px;

}

/* End Coming Soon Style */

/* Start Holiday Style */
.holiday-content{
    padding-top:20px;
    padding-bottom: 80px;
}
.holiday-text{
    text-align: center;
}
.holiday-text h6{
    font-size:16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inter;
    color:#000;
}
.holiday-text h2{
    font-size:45px;
    font-weight: 800;
    color:#000;
    word-spacing: 5px;
    margin:10px 0;
}
.holiday-text span{
    color:#FF0000;
}
.holiday-text p{
    margin:20px auto;
    width:700px;
    font-size:14px;
    color: #777777;
}
.holiday-image{
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:50px;
}
.holiday-image img:first-child{
    width: 500px;
}
.holiday-image img:last-child{
    margin-bottom: 150px;
}

/* End Holiday Style */

/* Start Gift Card style */
#best-gift{
    padding-top:20px;
    padding-bottom: 80px;
}
.gift-text{
    text-align: left;
}
.gift-text h6{
    text-align: left;
    font-size:16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inter;
    color:#FF0000;
}
.gift-text h2{
    font-size:30px;
    font-weight: 800;
    color:#000;
    margin:10px 0;
}
.gift-text p{
    margin:20px 0;
    width:700px;
    font-size:14px;
    color: #777777;
}
.gift-image{
    margin:20px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gift-image img{
    max-width: 340px;
    margin:10px 0;
}
/* end Gift Card style */

/* Start Subscribe Style */
.newsletter-bg{
    background-color: #FFF2F2;
    text-align: center;
    border-radius: 10px;
}
.newsletter-content{
    padding:60px;
}
.newsletter-content img{
    width: 100px;
}
.newsletter-content h2{
    margin:20px;
    font-size: 35px;
    font-weight: 800;
}
.newsletter-content p{
    padding:0 100px;
    font-size: 14px;
    color:#777777;
    line-height: 25px;
    margin-bottom: 20px;
}

.newsletter-content div input{
    padding:15px 20px;
    font-size:14px;
    color:#FF0000;
    border-radius: 100px 0px 0px 100px;
    border:none;
    outline:none;
    width: 40%;

}
.newsletter-content div button{
    padding:15px 50px;
    font-size:14px;
    background-color:#FF0000;
    color:#fff;
    border-radius: 0px 100px 100px 0px;
    border:none;
    outline:none;
    font-weight: 600;
    cursor: pointer;

}
/* end Subscribe Style */

/* Start Footer Style */
footer{
    background-color: #070211;
    padding:80px 0;
    margin-top:50px;
}
.footer-text{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    border-bottom: 1px solid #777777;
    padding-bottom: 30px;
}
.footer-text p{
    color:#fff;
    
}
.footer-text-left p{
    margin:5px;

}
.footer-text-right p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.footer-icon{
    padding:30px 0;
    text-align: center;
    border-bottom: 1px solid #777777;
}
.footer-icon a{
    width:40px;
    display: inline-block;
    margin: 0 10px
}

.footer-icon a img{
    max-width: 100%;
}

.footer-copyright{
    padding:50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright p{
    color:#fff;
    font-size:18px;
    font-family: inter;
}
.footer-copyright p button{
    background-color: transparent;
    border:none;
    outline:none;
    font-size:15px;
    color:#fff;
    font-family: "Merriweather", serif;
}

/* End Footer Style */